body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    margin: auto;
    text-align: center;
    width: 960px;
    }
    
header, nav, section, aside, footer {
        display : block;
        background-color: #ebebeb;
        text-align: center;
        margin: 10px;
        padding: 10px;  
}
   

#section {
    background-color: #ebebeb;
    width: 50%;
    float: left;
    height: 267px;
    display: block;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
}


h1,p{
    color: #777;
    background:#ebebeb;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 90%;       
}

aside {
    float: right;
    width: 40%;  
    height: 267px;
    display: block;
    overflow: hidden;   
}   

footer {
    background-color: #ebebeb;
    padding: 20px;
    float: left;
    width: 94%;
    clear: both;
    overflow: auto;
    margin-top: 10px;  
}